*
  border 0
  box-sizing border-box
  outline 0

html
  font-size 62.5%

body
  background-color white
  font-family Helvetica, Arial, sans-serif
  font-size m-size

button
  cursor pointer

  &:disabled
    cursor default

ol
  list-style none
  margin 0
  padding 0

.is-active
  font-weight bold